[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
django-oauth-toolkit = "*"
djangorestframework = "*"
django-allauth = "*"
django-cors-headers = "*"
openai = "*"
requests = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.12"
